section{
    padding:2rem;
    max-width: 1200px;
    margin: 0 auto;
 }
 
 .btn,
 .option-btn,
 .delete-btn,
 .inline-btn,
 .inline-option-btn,
 .inline-delete-btn{
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
 }
 
 .btn,
 .option-btn,
 .delete-btn{
    display: block;
    width: 100%;
 }
 
 .inline-btn,
 .inline-option-btn,
 .inline-delete-btn{
    display: inline-block;
 }
 
 .btn,
 .inline-btn{
    background-color: var(--main-color);
 }
 
 .option-btn,
 .inline-option-btn{
    background-color: var(--oragen);
 }
 
 .delete-btn,
 .inline-delete-btn{
    background-color: var(--red);
 }
 
 .btn:hover,
 .option-btn:hover,
 .delete-btn:hover,
 .inline-btn:hover,
 .inline-option-btn:hover,
 .inline-delete-btn:hover{
    background-color: var(--black);
    color: var(--white);
 }
 
 .flex-btn{
    display:flex;
    gap: 1rem;
 }
 
 .message{
    position: sticky;
    top:0;
    background-color: var(--light-bg);
    padding:2rem;
    display: flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
 }
 
 .message.form{
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white);
    top: 2rem;
    border-radius: .5rem;
 }
 
 .message span{
    font-size: 2rem;
    color:var(--black);
 }
 
 .message i{
    font-size: 2.5rem;
    color:var(--red);
    cursor: pointer;
    transition: .2s linear;
 }
 
 .message i:hover{
    transform: rotate(90deg);
 }
 
 .empty{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: var(--red);
 }
 
 .heading{
    padding-bottom: 1.8rem;
    border-bottom: var(--border);
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 2rem;
 }
 
 .header{
    background-color: var(--white);
    border-bottom: var(--border);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
 }
 
 .header .flex{
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
 }
 
 .header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 2rem;
    background-color: var(--light-bg);
 }
 
 .header .flex .search-form input{
    width: 100%;
    background:none;
    font-size: 2rem;
    color: var(--black);
 }
 
 .header .flex .search-form button{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background: none;
 }
 
 .header .flex .search-form button:hover{
    color: var(--main-color);
 }
 
 .header .flex .icons div{
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    background-color: var(--light-bg);
    text-align: center;
    margin-left: .5rem;
 }
 
 .header .flex .icons div:hover{
    background-color: var(--black);
    color:var(--white);
 }
 
 #search-btn{
    display: none;
 }
 
 .header .flex .profile{
    position: absolute;
    top: 120%; right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
 }
 
 .header .flex .profile.active{
    transform: scale(1);
    transition: .2s linear;
 }
 
 .header .flex .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
 }
 
 .header .flex .profile h3{
    font-size: 2rem;
    color: var(--black);
 }
 
 .header .flex .profile span{
    color: var(--light-color);
    font-size: 1.6rem;
 }
 
 .header .flex .profile .flex-btn{
    margin-top: .5rem;
 }
 
 .side-bar{
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
    z-index: 1200;
 }
 
 .side-bar .close-side-bar{
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
 }
 
 .side-bar .close-side-bar i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--red);
    text-align: center;
    border-radius: .5rem;
 }
 
 .side-bar .close-side-bar i:hover{
    background-color: var(--black);
 }
 
 .side-bar .profile{
    padding:3rem 2rem;
    text-align: center;
 }
 
 .side-bar .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
 }
 
 .side-bar .profile h3{
    font-size: 2rem;
    color: var(--black);
 }
 
 .side-bar .profile span{
    color: var(--light-color);
    font-size: 1.6rem;
 }
 
 .side-bar .profile .flex-btn{
    margin-top: .5rem;
 }
 
 .side-bar .navbar a{
    display:block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
 }
 
 .side-bar .navbar a i{
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .2s linear;
 }
 
 .side-bar .navbar a span{
    color: var(--light-color);
 }
 
 .side-bar .navbar a:hover{
    background-color: var(--light-bg);
 }
 
 .side-bar .navbar a:hover i{
    margin-right: 2.5rem;
 }
 
 .side-bar.active{
    left: -31rem;
 }







 