.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
 }
 
 .dashboard .box-container .box{
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--white);
    text-align: center;
 }
 
 .dashboard .box-container .box h3{
    margin-bottom: .5rem;
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 1.5rem;
 }
 
 .dashboard .box-container .box p{
    font-size: 2rem;
    color: var(--light-color);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    margin: 1rem 0;
 }
 